.table {
  thead, tbody {
    tr {
      td, td {
        vertical-align:middle;
      }
    }
  }
}

&#new-attachments {
  tr {
    .action {
      width: 100px;
    }
  }
  td {
    &.preview {
      img {
        width: 75px;
      }
    }
  }
}