* {
  margin: 0;
  padding: 0;
  }

html {
  background: #222;
  }

body {
  -webkit-font-smoothing: antialiased;
  font: 14px/20px Helvetica, Arial, sans-serif;
  text-shadow: 0 -2px 1px #000;
  color: #888;
  text-align: center;
  _width: 80%;
  max-width: 980px;
  margin: 20px auto 0;
  }

#content {width: 100%}
#wrapper {
  padding: 20px;
  }

#slides {
  -webkit-box-shadow: 0 0 10px #000; 
  -moz-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 20px #000;
  margin-bottom: 40px !important;
  }

#slides2 {
  margin: 0 auto;
  }

p,h3,h4,pre {
  text-align: left;
  max-width: 500px;
  margin: 0 auto 20px;
  }

h1 { 
  font: 40px/60px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 200;
  }

h2 { 
  font: 16px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; 
  margin-bottom: 40px;
  }

h3 { 
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; 
  color: #fff;
  font-weight: 900;
  margin-top: 40px;
  }

h4 { 
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: 900;
  margin-top: 40px;
  }

a {
  text-decoration: none;
  color: #fff;
  }

a:hover {
  border-bottom: 1px solid #666;
  }

a:active {
  opacity: .7;
  }


pre,code {
  font-family: monospace, monospace;
  }

pre {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: none;
  width: auto;
  background: #111;
  background: rgba(0,0,0,.25);
  padding: 20px;
  margin-bottom: 30px;
  _padding: 0;
  font-size: 12px;
  color: #fff;
  _float: left;
  _width: 100%;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  }

.list {
  text-align: left;
  max-width: 450px;
  margin: 0 auto;
  list-style: none;
  }

#download {
  -webkit-box-shadow: 0 0 10px #000; 
  -moz-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  background: #333;
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px auto;
  display: block;
  max-width: 500px;
  padding: 20px;
  }

#download:hover {
  background: rgba(255,255,255,.15);
  }

.footer {
  font-size: 11px;
  }

@media screen and (max-width: 600px) {

  h1 {
    font: 30px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

  }

#benchmark {padding:30px; color:#666}
#benchmark table {width:100%;}
#benchmark table th {font-weight:bold; font-size:18px}
#benchmark tr, #benchmark td, #benchmark th {border:1px solid #666; padding:10px}