/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;text-decoration:none}
strong{font-weight:bold;}
:focus{outline:0}
body{font-family:Arial, Helvetica, sans-serif;font-size:13px}
ol, ul{list-style:none}
table{border-collapse: separate;border-spacing:0}
caption, th, td{text-align: left;font-weight: normal}
blockquote:before, blockquote:after, q:before, q:after {content: ""}
blockquote, q{ quotes: "" ""}
html{overflow:-moz-scrollbars-vertical}
a{color:#989898}
a:hover{text-decoration:none;}
.clear {clear: both;}
.radius{-moz-border-radius: 8px;border-radius: 8px;-webkit-border-radius: 8px;}
.shadow{box-shadow:0px 0px -10px #575757;-moz-box-shadow:0px 0px 1px #575757;-webkit-box-shadow:0px 0px 1px #575757;}
/* global */

h1 {font-size:28px; font-weight:bold; color:#000; text-align:center}
body {}

/* container */
#container {width:980px; margin:0 auto; border:1px solid}

/* header */

/* content */

/* footer */

/* text/titles */

/* navegation */

/* forms */

/* extra */